{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<h1>Add/Remove Scan Steps</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(add_form, action=url_for('scan_window'),
         form_type="horizontal", method="POST") }}
    </div>

    {% if scan.steps %}
    <div class="col-md-4">
        {{ wtf.quick_form(rm_form, form_type="horizontal",
                action=url_for('scan_window_rm', method="POST")) }}
    </div>
    {% endif %}
</div>
<div  class="row">
{% if scan.steps %}
    <h1>Steps to Run</h1>
    {% for step in scan.steps %}
    {{ step }}
    {%  endfor %}
{% endif %}
</div>

{% endblock %}