{% extends "base.html" %}

{% block app_content %}
<h1>XPS Manual Control (IP: {{ hostname }})</h1>
<div id="viewer_count"></div>
  <div class="alert" id="MessageZone"></div>
    <table id="GroupTable" style="width: 100%">
    <tr>
        <th id="name">Name</th>
        <th id ="state">Status</th>
        <th id ="position">Position</th>
        <th id ="abs">Abs Move</th>
        <th id ="button_col1"></th>
        <th id ="button_col2"></th>
        <th id ="abs">Rel Move</th>
        <th id ="button_col3"></th>

    </tr>
        {% for stage in stages.values() %}
        {% for param in stage.values() %}
    <tr id="{{ param['parent'] }}_row">
        <td headers="name">{{ param['parent'] }}</td>
        <td headers="state">{{ param['state'] }}</td>
        <td headers="position">{{ param['Position'] }}</td>
        <td headers="abs"> <input size="3" type="text" id="{{ param['parent'] }}_input"> </td>
        <td> <button name="{{ param['parent'] }}_abs_move">Go</button> </td>
    {# rel move: #}
        <td> <button name="{{ param['parent'] }}_rel_min"> < </button> </td>
        <td headers="rel"> <input size="3" type="text" id="{{ param['parent'] }}_input"> </td>
        <td> <button name="{{ param['parent'] }}_rel_plus"> > </button> </td>
    </tr>
        {% endfor %}
        {% endfor %}

    </table>
    <script src="{{url_for('static', filename='stage.js')}}"></script>

{% endblock %}